html,body{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}


.ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.qwe{
    border: 1px solid red;
}

.qwee{
    border: 1px solid green;
}
